.calendar {
    .top-row {
        border-bottom: 1px solid #C7C7C7;
    }
    .image-wrapper {
        height: 100px;
        width: 100px;
        .image {
            border-radius: 4px;
            width: 100%;
            height: 100%;
        }
    }
    .heading-secondary {
        display: block;
    }
    .cuisine {
        font-size: 18px;
        display: block;
        color: #6D6F77;
    }
    .location,
    .tel,
    .email {
        color: #6D6F77;
        display: block;
    }
    .calendar-main {
        margin-top: 30px;
        box-shadow: 0 0 4px 2px rgba(109, 111, 119, 0.67);
        .buttons {
            padding: 0;
            margin: 0 0 0 10px;
            list-style: none;
            &:hover {
                cursor: pointer;
            }
        }
        .arrow {
            display: inline-block;
            width: 8px;
            margin: 0 15px 0 0;
        }
        .select-dropdown {
            border: 0;
            font-weight: 600;
            color: #1E2238;
            font-size: 18px;
            option {
                font-weight: 600;
                color: #1E2238;
                font-size: 18px;
            }
        }
        .views {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: right;
        }
        .view {
            display: inline-block;
            color: #16C6AB;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            position: relative;
            margin-right: 10px;
            &:hover {
                cursor: pointer;
            }
            &.selected:after {
                content: '';
                position: absolute;
                bottom: -5px;
                background-color: #16C6AB;
                left: 0;
                right: 0;
                width: 100%;
                height: 2px;
            }
        }
        .key {
            margin: 0;
            padding: 0;
            list-style: none;
            .key-item {
                font-size: 14px;
                color: #C7C7C7;
                display: inline-block;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .circle {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
                &.request {
                    background-color: #1E2238;
                }
                &.booking {
                    background-color: #16C6AB;
                }
                &.cancellation {
                    background-color: #CC0863;
                }
            }
        }
        .grid {
            .grid-row {
                display: flex;
                height: 100%;
                flex-wrap: wrap;
            }
            .row-item {
                height: 80px;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 13%;
                color: #C7C7C7;
                padding: 5px;
                box-shadow: -1px -1px #C7C7C7, inset -1px -1px 0 0 #C7C7C7;
                &.extra {
                    flex-basis: 12%;
                }
                &.day {
                    &.hidden {
                        box-shadow: none;
                    }
                    text-align: right;
                }
                .d-block {
                    margin-right: 5px;
                }
                &.week {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                &.time {
                    text-transform: uppercase;
                    span {
                        font-weight: 600;
                        color: #1E2238;
                        margin: 0;
                    }
                }
            }
            .grid-row.week {
                .time {
                    font-weight: 600;
                    color: #1E2238;
                    display: block;
                }
                .row-item {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-basis: 13%;
                }
            }
            .week-events {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .week-event {
                border-radius: 50%;
                border: 1px solid #C7C7C7;
                background-color: #fff;
                height: 20px;
                width: 20px;
                font-size: 12px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
                &.req {
                    border: 0;
                    background-color: #1E2238;
                }
                &.booking {
                    border: 0;
                    background-color: #16C6AB;
                }
                &.cancel {
                    border: 0;
                    background-color: #CC0863;
                }
            }
            .events {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            .event {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: block;
                margin-bottom: 5px;
                border: 1px solid #C7C7C7;
                background-color: #fff;
                &.req {
                    border: 0;
                    background-color: #1E2238;
                }
                &.booking {
                    border: 0;
                    background-color: #16C6AB;
                }
                &.cancel {
                    border: 0;
                    background-color: #CC0863;
                }
            }
            &.striped .grid-row:nth-of-type(even) {
                background-color: #eff8fe;
            }
            .section {
                margin-bottom: 50px;
                .heading-secondary {
                    font-size: 20px;
                    margin: 0;
                }
                &.request tbody {
                    border-left: 5px solid #1E2238;
                }
                &.booking tbody {
                    border-left: 5px solid #16C6AB;
                }
                &.cancel tbody {
                    border-left: 5px solid #CC0863;
                }
            }
            .table-custom {
                margin: 0;
                .thead {
                    border: 0;
                }
                .theading {
                    border: 0;
                    color: #C7C7C7;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                .tdata {
                    border: 0;
                    color: #1E2238;
                }
                &.striped tbody .trow:nth-of-type(odd) {
                    background-color: #eff8fe;
                }
            }
        }
    }
}