.heading-primary {
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
}

.heading-primary.white {
  color: #fff;
}

.heading-primary.small {
  font-size: 32px;
}

.heading-secondary {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.heading-secondary.green {
  color: #16C6AB;
}

.heading-secondary.small {
  font-size: 20px;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.paragraph.small {
  font-size: 14px;
}

.paragraph.grey {
  color: #C7C7C7;
}

.hyperlink {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: #16C6AB;
}

.hyperlink:hover {
  color: #16C6AB;
}

.calendar .top-row {
  border-bottom: 1px solid #C7C7C7;
}

.calendar .image-wrapper {
  height: 100px;
  width: 100px;
}

.calendar .image-wrapper .image {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.calendar .heading-secondary {
  display: block;
}

.calendar .cuisine {
  font-size: 18px;
  display: block;
  color: #6D6F77;
}

.calendar .location {
  color: #6D6F77;
  display: block;
}

.calendar .tel {
  color: #6D6F77;
  display: block;
}

.calendar .email {
  color: #6D6F77;
  display: block;
}

.calendar .calendar-main {
  margin-top: 30px;
  box-shadow: 0 0 4px 2px rgba(109, 111, 119, 0.67);
}

.calendar .calendar-main .buttons {
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
}

.calendar .calendar-main .buttons:hover {
  cursor: pointer;
}

.calendar .calendar-main .arrow {
  display: inline-block;
  width: 8px;
  margin: 0 15px 0 0;
}

.calendar .calendar-main .select-dropdown {
  border: 0;
  font-weight: 600;
  color: #1E2238;
  font-size: 18px;
}

.calendar .calendar-main .select-dropdown option {
  font-weight: 600;
  color: #1E2238;
  font-size: 18px;
}

.calendar .calendar-main .views {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.calendar .calendar-main .view {
  display: inline-block;
  color: #16C6AB;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin-right: 10px;
}

.calendar .calendar-main .view:hover {
  cursor: pointer;
}

.calendar .calendar-main .view.selected:after {
  content: '';
  position: absolute;
  bottom: -5px;
  background-color: #16C6AB;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
}

.calendar .calendar-main .key {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar .calendar-main .key .key-item {
  font-size: 14px;
  color: #C7C7C7;
  display: inline-block;
  margin-right: 10px;
}

.calendar .calendar-main .key .key-item:last-child {
  margin-right: 0;
}

.calendar .calendar-main .key .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.calendar .calendar-main .key .circle.request {
  background-color: #1E2238;
}

.calendar .calendar-main .key .circle.booking {
  background-color: #16C6AB;
}

.calendar .calendar-main .key .circle.cancellation {
  background-color: #CC0863;
}

.calendar .calendar-main .grid .grid-row {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.calendar .calendar-main .grid .row-item {
  height: 80px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 13%;
  color: #1E2238;
  padding: 5px;
  box-shadow: -1px -1px #C7C7C7, inset -1px -1px 0 0 #C7C7C7;
}

.calendar .calendar-main .grid .row-item.disabled {
  color: #C7C7C7;
}

.calendar .calendar-main .grid .row-item.extra {
  flex-basis: 12%;
}

.calendar .calendar-main .grid .row-item.day.hidden {
  box-shadow: none;
}

.calendar .calendar-main .grid .row-item.day {
  text-align: right;
}

.calendar .calendar-main .grid .row-item.selected {
  box-shadow: -2px -2px #16C6AB, inset -3px -3px 0 0 #16C6AB
}

.calendar .calendar-main .grid .row-item .d-block {
  margin-right: 5px;
}

.calendar .calendar-main .grid .row-item.week {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calendar .calendar-main .grid .row-item.time {
  text-transform: uppercase;
}

.calendar .calendar-main .grid .row-item.time span {
  font-weight: 600;
  color: #1E2238;
  margin: 0;
}

.calendar .calendar-main .grid .grid-row.week .time {
  font-weight: 600;
  color: #1E2238;
  display: block;
}

.calendar .calendar-main .grid .grid-row.week .row-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 13%;
}

.calendar .calendar-main .grid .week-events {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar .calendar-main .grid .week-event {
  border-radius: 50%;
  border: 1px solid #C7C7C7;
  background-color: #fff;
  height: 20px;
  width: 20px;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.calendar .calendar-main .grid .week-event:last-child {
  margin-right: 0;
}

.calendar .calendar-main .grid .week-event.req {
  border: 0;
  background-color: #1E2238;
}

.calendar .calendar-main .grid .week-event.booking {
  border: 0;
  background-color: #16C6AB;
}

.calendar .calendar-main .grid .week-event.cancel {
  border: 0;
  background-color: #CC0863;
}

.calendar .calendar-main .grid .events {
  list-style: none;
  padding: 0;
  margin: 0;
}

.calendar .calendar-main .grid .event {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #C7C7C7;
  background-color: #fff;
}

.calendar .calendar-main .grid .event.req {
  border: 0;
  background-color: #1E2238;
}

.calendar .calendar-main .grid .event.booking {
  border: 0;
  background-color: #16C6AB;
}

.calendar .calendar-main .grid .event.cancel {
  border: 0;
  background-color: #CC0863;
}

.calendar .calendar-main .grid.striped .grid-row:nth-of-type(even) {
  background-color: #eff8fe;
}

.calendar .calendar-main .grid .section {
  margin-bottom: 50px;
}

.calendar .calendar-main .grid .section .heading-secondary {
  font-size: 20px;
  margin: 0;
}

.calendar .calendar-main .grid .section.request tbody {
  border-left: 5px solid #1E2238;
}

.calendar .calendar-main .grid .section.booking tbody {
  border-left: 5px solid #16C6AB;
}

.calendar .calendar-main .grid .section.cancel tbody {
  border-left: 5px solid #CC0863;
}

.calendar .calendar-main .grid .table-custom {
  margin: 0;
}

.calendar .calendar-main .grid .table-custom .thead {
  border: 0;
}

.calendar .calendar-main .grid .table-custom .theading {
  border: 0;
  color: #C7C7C7;
  font-weight: 400;
  text-transform: uppercase;
}

.calendar .calendar-main .grid .table-custom .tdata {
  border: 0;
  color: #1E2238;
}

.calendar .calendar-main .grid .table-custom.striped tbody .trow:nth-of-type(odd) {
  background-color: #eff8fe;
}